[submodule "deps/nanos-secure-sdk"]
	path = app/deps/nanos-secure-sdk
	url = https://github.com/LedgerHQ/nanos-secure-sdk.git
[submodule "deps/nanox-secure-sdk"]
	path = app/deps/nanox-secure-sdk
	url = https://github.com/LedgerHQ/nanox-secure-sdk.git
[submodule "deps/nanosplus-secure-sdk"]
	path = app/deps/nanosplus-secure-sdk
	url = https://github.com/LedgerHQ/nanosplus-secure-sdk
